.topteams__infos{
    background-color: #E9E3E8;
    border-radius: 11px;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.topteams__header p{
    color: #552C8A;
    font-weight: 700;
}